//  Created by Dicky on 2016/9/28.

mixin createTitle(className,name)
	.block-title-cont
		.block-title.mar-cent.content-area
			.block-title-inner-cont.mar-cent(class="#{className}")
				h2.title-zh #{name.zh}
				h2.title-en #{name.en}
