//Created by Jingyi on 2016-9-7.
block oolaPagination
    .oola-pagination
        ul.fl
            .pagination-slider
            li.page-prev.page-btn-disabled
                a(href="#")
            li.active
                a(href="#").page 1
            li
                a(href="#").page 2
            li
                a(href="#").page 3
            li
                a(href="#").page 4
            li
                a(href="#").page 5
            li
                a(href="#").page 6
            li.page-next
                a(href="#")