//星星评价-橙色点亮only
.star-grade{
  display: inline-block;
  height: 15px;
  width: 75px;
  vertical-align: middle;
  background: url("../../img/recycle/star-grade-sm.png") no-repeat;
  background-position: -75px 0;
}
//星星等级
@for $i from 1 through 5{
  span.star-grd-#{$i}{
    background-position: -((5 - $i) * 15px) 0;
  }
  span.star-grd-#{$i}-5{
    background-position: -((4 - $i) * 15px) -15px;
  }
}

//星星评价-橙色点亮、灰色不点亮
.cm-star-grade{
  margin-right: auto;
  margin-left: auto;
  width: 114px;
  height: 18px;
  background: url("../../img/recycle/star-grade-lg.png") no-repeat;
  background-position: -120px 0;
}
//星星等级
@for $i from 1 through 5{
  span.cm-star-grd-#{$i}{
    background-position: -((5 - $i) * 24px) 0;
  }
  span.cm-star-grd-#{$i}-5{
    background-position: -((4 - $i) * 24px) -18px;
  }
}