//
   Created by Jingyi on 2016-10-11.

-var comment = "虽然噢啦的回收给的是积分，虽然噢啦的回收给的是积分，但能兑换到很多不错的礼品，反正机器价值也不高，选择有公益的回收平台更放心。"
mixin recycleComment(clazzArr)
    .comment-cont.fl(class="#{clazzArr}")
        .comment-detail
            p 虽然噢啦的回收给的是积分，虽然噢啦的回收给的是积分，但能兑换到很多不错的礼品，反正机器价值也不高，选择有公益的回收平台更放心。
            span.publish-time 20小时前
        .comment-user.clearfix
            .user-avatar-cont.fl
                img(src="img/common/user-avatar.png")
            .user-cont-R.fl
                p.user-name(title="大大熊二大大熊二大大熊二大大熊二") 大大熊二大大熊二大大熊二大大熊二
                p 回收了
                    a(href="#" title="iPhone 6s plusplusplus").recycle-product iPhone 6s plusplusplus
