//  Created by Dicky on 2016/9/28.

mixin createSubtitle(className,name)
	.index-subtitle-cont
		.index-subtitle.mar-cent.content-area
			.index-subtitle-inner-cont.mar-cent(class="#{className}")
				h2.subtitle-zh #{name.zh}
				h2.subtitle-en #{name.en}
