//  Created by Dicky on 2016/12/21.
include createContent

mixin createProduct()
    .product-img-cont.fl
        img(src="img/my-center/product-demo.jpg")
    .tag-content.fl
        +createContent(["价格：55积分"])