@charset "UTF-8";
@import "global";

.points-outlay{
  color: $clrHtmlRed!important;
}
.points-income{
  color: $clrMain!important;
}
.own-points, .filter-bar{
  padding: $minSpacing $minSpacing*2;
  border: 1px solid $clrBorder;
}

//积分展示
 .own-points{
   margin-bottom: $minSpacing*2;
   .available-pts, .frozen-pts{
     display: inline-block;
     font-size: 30px;
     font-weight: bold;
     >span{
       display: block;
     }
   }
   .available-pts{
     color: $clrMain;
   }
   .frozen-pts{
     color: $clrHtmlBlue;
     position: relative;
     padding-left: 100px;
     &:before{
       position: absolute;
       display: inline-block;
       content: '';
       left: 50px;
       top: 50%;
       margin-top: -24px;
       height: 57px;
       width: 2px;
       background: $clrBorder;
       -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
       -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
       transform: rotate(30deg);
     }
     .question a{
       display: inline-block;
       margin: 0 6px 0 12px;
       vertical-align: middle;
     }
     #question-tip{
       display: none;
       color: $clrCancel;
       font-weight: normal;
     }
     .question a:hover + #question-tip{
       display: inline;
     }
   }
 }

 //积分筛选栏样式
.pts-filter{
  .form-group{
    margin: 0;
    & + .form-group{
      margin-top: $minSpacing;
    }
  }
  .control-label{
    padding: 0;
    color: $clrCancel;
  }
  .radio-cont{
    padding-left: 80px;
  }
  .radio-inline{
    padding: 0;
    margin-left: 0;
    margin-right: $minSpacing*2;
    input[type="radio"]{
      margin: 0;
    }
    span{
      font-size: 12px;
    }
    input[type="radio"]:checked + span{
      background-color: transparent;
      color: $clrMain;
    }
  }
}

 //月收支样式
.income-outlay{
  padding: $minSpacing*2;
  .monthly-income, .monthly-outlay{
    display: inline-block;
    line-height: 1;
    &:before{
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
      margin-right: $minSpacing/2;
      vertical-align: middle;
      background: url("../../img/my-center/coin.png") no-repeat;
    }
    >span{
      margin-left: $minSpacing/2;
      line-height: 18px;
    }
  }
  .monthly-outlay{
    margin-left: $minSpacing;
    &:before{
      background-position: -18px 0;
    }
  }
}