@charset "UTF-8";
@import "global";

.content-main{
  padding-top: 0;
}
.project-content{
  background-color: $clrWhiteBg;
  padding: 0 $minSpacing*2  $minSpacing*2;
  min-height: calc(100vh - 215px);
}
.content-detail{
  padding: $minSpacing*2 0;
  p{
    color: $clrCancel;
  }
  .project-img-cont{
    width: 274px;
    height: 205px;
    overflow: hidden;
    margin-right: $minSpacing*2;
    img{
      width: 100%;
    }
  }
  .project-detail-cont{
    h1{
      font-weight: bold;
      margin-bottom: $minSpacing*2;
    }
    p{
      font-size: 12px;
    }
  }
  .progress{
    margin: $minSpacing 0;
  }
  .data-bar{
    >p{
      display: inline-block;
      text-align: center;
      > span{
        display: block;
      }
    }
    hr{
      display: inline-block;
      width: 0;
      height: 30px;
      border-top: 0;
      border-left: 1px solid $clrBorder;
      margin: 2px $minSpacing*2;
    }
  }
  .btn-group{
    margin-top: $minSpacing*3;
  }
}

//弹窗表单
.oola-modal{
  .form-horizontal{
    margin-top: $minSpacing*3;
    .form-group:last-child{
      margin-bottom: $minSpacing;
    }
    textarea{
      height: 120px;
    }
  }
}
//上传图片按钮
.upload-control {
  position: relative;
  height: 60px;
  width: 60px;
  border: 2px dashed $clrFormBorder;
  cursor: pointer;
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $clrFormBorder;
  }
  &:before {
    width: 2px;
    height: 24px;
    margin-top: -12px;
    margin-left: -1px;
  }
  &:after {
    width: 24px;
    height: 2px;
    margin-top: -1px;
    margin-left: -12px;
  }
}

.data-detail{
  p{
    margin-top: 4px;
    span{
      margin: 0 $minSpacing*2;
    }
  }
}